<!DOCTYPE html>
<html>
	<head>
		<title>Dataverse</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">	
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="jumbotron">
					<h1>Dataverse</h1>
					<p>This is the Demo Website for Group 32: RNG</p>
					<p>Created by: Austin Bae, David Gu, Jasper Ting, Brian Zhou</p>
					<p>Instructions:</p>
					<ol>
						<li>Open up the Browser Console</li>
						<li>Search up a term existing in our database (We haven't imported every dataset yet). Some of the keywords include "Tax", "Autism", etc.</li>
						<li>Confirm from the console that you have gotten a query back, then refresh the page</li>

					</ol>
					
				</div>
			</div>
			<div class="row">
				<div class="input-group">
					<input type="text" class="form-control" id="queryword" placeholder="Enter Query Here" aria-describedby="basic-addon1">
				</div>
				<button type="button" id="querybox" class="btn btn-default">Search!</button>
			    <div class="input-group">
			    	<input type="text" class="form-control" id="insertstuff" placeholder="Enter Associative Word" aria-describedby="basic-addon1">
			    </div>
                <div class="input-group">
                    <input type="text" class="form-control" id="category" placeholder="Enter Category" aria-describedby="basic-addon1">
                </div>
                <button type="button" id="insertbox" class="btn btn-default">Insert!</button>
			</div>
			<div id="masonry" class="row container" style="width:100%">
				    
			</div>
		</div>	
			<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>	
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
	</body>
</html>
